{:deps true
 :builds       {:app {:target     :browser
                      :output-dir "../backend/resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [catchat.core]}}
                      :devtools   {:after-load catchat.core/mount-root}}}



;;  :dev-http     {3001 {:root    "resources/public"
;;                       :handler user/app}}
 }
