{:deps true
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [todomvc-posh.core]
                                         :init-fn todomvc-posh.core/init!}}
                      :devtools   {:after-load todomvc-posh.core/mount-root}}}

 :dev-http     {3000 {:root    "public"
                      :handler user/app}}}
