{:duct.profile/base
 {:duct.core/project-ns catchat-server

  :duct.router/cascading
  [#ig/ref [:catchat-server.handler/api]
   #ig/ref [:catchat-server.handler/site]]

  :catchat-server.model.chat-rooms/random-message-sender {}

  :catchat-server.handler/site {}
  :catchat-server.handler/api {:session-handler #ig/ref :catchat-server.handler.api/session}
  :catchat-server.handler.api/session {:random-message-sender #ig/ref :catchat-server.model.chat-rooms/random-message-sender}


  :duct.server.http/http-kit
  {:port    3003
   :handler #ig/ref :duct.router/cascading}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}}
