{:duct.profile/base
 {:duct.core/project-ns catchat-server

  :duct.router/cascading
  [#ig/ref [:catchat-server.handler/http-api]
   #ig/ref [:catchat-server.handler/ws-api]
   #ig/ref [:catchat-server.handler/site]]

  :catchat-server.handler/site {}
  :catchat-server.handler/http-api {}
  :catchat-server.handler/ws-api {:session-ref #ig/ref :catchat-server.handler.ws-api/session-ref}
  :catchat-server.handler.ws-api/session-ref {}

  :catchat-server.process/random-message-sender {:session-ref #ig/ref :catchat-server.handler.ws-api/session-ref}

  :duct.server.http/http-kit
  {:port    3000
   :handler #ig/ref :duct.router/cascading}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}}
