{:deps true
 :builds       {:app {:target     :browser
                      :output-dir "resources/catchat_server/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [catchat.core]}}
                      :devtools   {:after-load catchat.core/mount-root}}}}
