{:deps
 {thheller/shadow-cljs {:mvn/version "2.16.8"}
  binaryage/devtools {:mvn/version "1.0.3"}
  nrepl/nrepl {:mvn/version "0.8.3"}
  integrant/integrant {:mvn/version "0.8.0"}
  reagent/reagent {:mvn/version "1.1.0"}
  com.github.itarck/fancoil {:local/root "/Users/tizac/room/fancoil"}
  com.github.itarck/fancoil.module {:local/root "/Users/tizac/room/fancoil.module"}}

 :paths ["src/main"]}